/*  Fonts  */
@font-face {
  font-family: 'lato-bold';
  src: url('../fonts/lato-bold.eot');
  src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato-bold.woff') format('woff'),
       url('../fonts/lato-bold.ttf') format('truetype'),
       url('../fonts/lato-bold.svg#LatoBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato-regular';
  src: url('../fonts/lato-regular.eot');
  src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato-regular.woff') format('woff'),
       url('../fonts/lato-regular.ttf') format('truetype'),
       url('../fonts/lato-regular.svg#LatRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'p22_corinthia';
  src: url('../fonts/p22_corinthia.eot');
  src: url('../fonts/p22_corinthia.eot?#iefix') format('embedded-opentype'),
       url('../fonts/p22_corinthia.woff') format('woff'),
       url('../fonts/p22_corinthia.ttf') format('truetype'),
       url('../fonts/p22_corinthia.svg#P22Corinthia') format('svg');
  font-weight: normal;
  font-style: normal;
}



/*  General CSS  */
body{
  background: #fff;
	font-size: 14px;
}

.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
	overflow: hidden;
}

h1, h2, h3, h4, h5 ,h6{
  color: #626262;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

h1, h2, h3, h4,
h5, h6          { font-weight: bolder }



/*  Header Section  */

header{
  width: 100%;
  height: 100px;
  background: rgba(28, 54, 85, .2);
}


/*  Hero Section  */

.hero{
  width: 100%;
  height: 900px;
  position: relative;
  background: url('../images/house.jpg') no-repeat bottom center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.hero .caption{
  width: 100%;
  position: absolute;
  text-align: center;
  top: 40%;
  margin-top: -105px;
  z-index: 10;
}

.hero .caption h2{
  color: #fff;
  font-family: "p22_corinthia", Helvetica, Arial, sans-serif;
  font-size: 100px;
  font-weight: lighter;
  margin: 0;
  position: relative;
  display: block;
}

.hero .caption h3{
  color: #fff;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  font-size: 22px;
  margin: 15px 0 0 25px;
  left: 1px;
}


/*  Banner Section  */
.banner{
  width: 100%;
  height: 100px;
  background: #5385b8;
  position: relative;
}

.banner .info{
  display: block;
  width: 90.90909090909091%;
  height: 100px;
  top: 0;
	bottom: 0;
	right: 0;
	left: 0;
  border: 0;
  outline: none;
  margin: auto;
  padding: 0;
  background: #5385b8;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  font-size: 30px;
	text-align: center;
}

.banner p{  
	vertical-align: middle;
	color: #fff;  
	text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 100px;
} 


/*  details section  */
.details{
  padding: 10px 0;
	overflow: hidden;
}

.details .wrapper .pictures{
  float: left;
	width: 70%;
	padding: 10px;
	max-width: 550px;
}

.pictures .static-pic{
  margin-bottom: 3%;
}

.pictures .gallery{
  text-decoration: none;
  letter-spacing: 1px;
  font-style: italic;
  color: #fff;
}

.gallery .gallery-btn{
  background: #5385b8;
  padding: 20px 40px;
  border: 2px solid #bfd9f1;
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.storey{
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.storey h2{
  text-align: center;
}

.storey .sections{
  display: block;
  overflow: hidden;
  position: relative;
}

.floating-box {
  float: left;
  width: 240px;
  height: 260px;
  margin: 10px;
  overflow: hidden;
  box-sizing: content-box;
  border: 3px solid #5385b8;
}

.floating-box img{
  height: 100%;
  width: 100%;
}

.back::before {
  content: ' \21E6';
  display: inline;
  color: #5385b8;
}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto; 
  background-color: black;  
  z-index: 1; 
  width: 100%;
  height: 100%;
  display: none;
  padding-top: 10%;
}

.modalContent img{
  margin: auto;
  display: block;
}

.close_button {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 35px;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
}

.details .wrapper .amenities{
	float: right;
	width: 30%;
	padding: 0 15px;
  margin-top: 10px;
  border: 1px solid #5385b8;
}

.details .amenities h3, .details .description h3{
  color: #666464;
  font-family: "lato-bold", Helvetica, Arial, sans-serif;
  font-size: 16px!important;
  font-weight: bold;
  margin: 0 0 5px !important;
  line-height: 28px;
}

.details .amenities p, .details .amenities ul li{
  color: #333;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  line-height: 28px;
  font-weight: normal;
}

.details .amenities ul{
  list-style: none;
  overflow: hidden;
  display: inline-block;
  padding: 0 15px;
  margin: 0 auto;
}

.details .amenities ul li{
	margin: 0 0 10px;
}

.details .amenities .labels{
  background-color: #5385b8;
  text-align: center;
  font-style: italic;
  color: #fff;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  vertical-align: middle;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}


/*  footer  */
footer{
  padding-top: 50px;
  background: #5385b8;
	color: #fff;
}

footer a{
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	color: #7fc6e6 !important;
}
	
footer .about > ul{
  overflow: hidden;
}

footer .about > ul > li{
  display: inline-block;
  float: left;
	padding: 5px;
  list-style: none;
  margin-right: 50px;	
}

footer .footer h3{
  color: #fff !important;
	font-family: "lato-regular", Helvetica, Arial, sans-serif;
  font-size: 30px;
	text-align: center;
}

footer .copyrights{
  display: block;
  text-align: center;
  padding: 40px 0;
  margin-top: 60px;
  color: #fff;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: .5px;
  border-top: 1px solid #82abd4;
}

footer .copyrights a.ph_link{
  font-family: "lato-bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
}



/*  responsive css */


@media only screen and (max-width:1500px){
  .hero{
    height: 800px;
  }

}


@media only screen and (max-width: 1150px){
  .wrapper{
    padding: 0 20px;
    max-width: 1020px;
  }
   
	.banner p{
		font-size: 20px;
		line-height: 80px;
	}
}

@media only screen and (max-width:860px){
    footer .footer h3{
      text-align: left;
    }
}

@media only screen and (max-width:800px){
    .hero{
    height: 600px;
  }

  .hero .caption{
    width: 92.72727272727273%;
    padding: 0 3.636363636363636%; 
  }
	
	.hero .caption h2{
		font-size: 100px;
	}
		
  .hero .caption h3{
    margin: 0;
    left: 0;
  }
	
	.banner p{
		font-size: 18px;
		line-height: 70px;
	}
	
  .pictures{
    min-width: 100%;
  }

	.amenities{
		float: left !important;
    min-width: 100%;

	}
}

@media only screen and (max-width: 767px){
  .modalContent img{
    width: 100%;
    height: initial;
    margin-top: 10%;
  }
}


@media only screen and (max-width:610px) ){
	.hero .caption h2{
    font-size: 95px;
  }

  .hero .caption h3{
    font-size: 18px;
  }
	.banner p{
		font-size: 16px;
		line-height: 50px;
	}
}


@media only screen and (max-width:500px){
  .hero .caption h2{
    font-size: 85px;
  }

  .hero .caption h3{
    font-size: 16px;
  }

	.banner p{
		font-size: 15px;
		line-height: 40px;
	}

  .gallery .gallery-btn{
    width: 100%;
  }
	
  footer .about > ul > li{
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px){
	.pictures{
    padding: 0 !important;
	}
}
